@{
    ViewBag.Title = "Contact";
}

<h2>View Details</h2>

<strong>Name</strong> : @ViewData["Name"]<br />
<strong>City</strong> : @ViewData["City"]<br />
<strong>Address</strong> : @ViewData["Address"]<br />