
@{
    ViewBag.Title = "chitietkhoahoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <section class="container" style="min-height:800px">



        <section class="row">
            <div class="row">
                <div class="content col-md-9 col-sm-9 col-xs-12">

                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-responsive" src="images/c.png" alt="">
                                </a>
                                <h3>Khóa học lập trình hướng đối tượng</h3>
                                <p>
                                    <h4>Khái quát về Lập trình hướng đối tượng C++</h4>
                                    Lập trình hướng đối tượng (gọi tắt là OOP, từ chữ Anh ngữ object-oriented programming), hay còn gọi là lập trình định hướng đối tượng, là kĩ thuật lập trình hỗ trợ công nghệ đối tượng. OOP được xem là giúp tăng năng suất, đơn giản hóa độ phức tạp khi bảo trì cũng như mở rộng phần mềm bằng cách cho phép lập trình viên tập trung vào các đối tượng phần mềm ở bậc cao hơn. Ngoài ra, nhiều người còn cho rằng OOP dễ tiếp thu hơn cho những người mới học về lập trình hơn là các phương pháp trước đó.
                                </p>


                            </div>

                            <div class="item col-md-6 col-sm-6 col-xs-12 ">
                                <ul class="nav navs-tabs-brand">
                                    <div class="jumbotron">


                                        <p>
                                            <h4>* Mục tiêu khóa học</h4>

                                            Cung cấp các kiến thức về ngôn ngữ lập trình C++.
                                            Rèn luyện kỹ năng về tổ chức chương trình theo hướng đối tượng bằng ngôn ngữ C++.
                                            <h4>*Điều kiện tham gia</h4>
                                            Có kiến thức về kỹ thuật lập trình C hoặc C++
                                            <h4>*Nội dung</h4>
                                            Hướng dẫn sử dụng công cụ Visual Studio 2013 để xây dựng dự án.
                                            Trình bầy các khả năng mới trong việc xây dựng và sử dụng hàm trong C++ như biến tham chiếu, đối có kiểu tham chiếu, đối có giá trị mặc định,...
                                            Khái niệm trung tâm của lập trình hướng đối tượng.
                                            Tìm hiểu lớp (class) và đối tượng (object).
                                            Hàm tạo (dựng), hàm hủy.
                                            Các thành phần tĩnh (static).
                                            Hàm bạn, lớp bạn.
                                            Nạp chồng hàm (function overloading) và nạp chồng toán tử (operator overloading).
                                            Tính kế thừa.
                                            Phương thức ảo, thuần ảo và tính đa hình.
                                            Thao tác với tập tin.
                                            Khuôn mẫu lớp (template class).
                                            Tìm hiểu thư viện STL trong C++.
                                            Ôn tập và giải đề thi.
                                        </p>

                                        <a href="dangkymonhoc.jsp" target="_blank" class="btn btn-primary btn-lg">Đăng ký</a></p>
                                    </div>

                                </ul>
                            </div>


                        </div>
                    </div>

                </div>



            </div>
            <!--end row-->


        </section>
</body>

