@{
    ViewBag.Title = "khoahoccuartoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="content col-md-9 col-sm-9 col-xs-12">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-2">
                                <ul class="nav navs-tabs-brand"></ul>
                            </div>

                            <div class="col-md-7">
                                <h1>Danh sách khoá học của bạn</h1>
                                <!-- tạo bảng khóa học của tôi-->
                                <table class="table table-bordered">
                                    <thead>
                                        <tr style="background:#00a8d8">
                                            <th>STT</th>
                                            <th>Tên khóa học</th>
                                            <th>Xem khóa học</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Khóa học lập trình c căn bản</td>
                                            <td><a href="chitietkhoahoccuatoi.jsp">vào khóa học</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Khóa học lập trình web</td>
                                            <td>vào khóa học</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Lập trình window form</td>
                                            <td>vào khóa học</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- kết thúc tạo bảng khóa học của tôi -->
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
