
@{
    ViewBag.Title = "thongtincanhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="col-md-8 ">
        <table class="table table-bordered" style="overflow-x:auto;">


            <div class="panel-body">


                <form class="form" method="post" id="contactform" action="" role="form">
                    <div class="form-group has-feedback">
                        <label><strong>Họ và tên:</strong> Lưu Đình Mác</label>

                    </div>
                    <div class="form-group has-feedback">
                        <label><strong>Ngày sinh:</strong> 22/11/1996</label>

                    </div>
                    <div class="form-group has-feedback">
                        <label><strong>Giới tính:</strong> Nam</label>

                    </div>
                    <div class="form-group">
                        <label><strong>Email:</strong> nguoiemcuanui@gmail.com</label>

                    </div>
                    <div class="form-group">
                        <label><strong>Điện thoại :</strong> 01234567890</label>
                    </div>
                    <a href="capnhatthongtin.jsp"> <button type="Submit" id="btncapnhat" name="btncapnhat" class="btn btn-info">Cập nhật</button></a>



                </form>
            </div>
        </table>
    </div>



</body>

