/*time-remain*/
.time-remain {
	font-weight: bold;
	
	right: 1000px;
	top: 50%;
	width: 1000px;
}
.time-remain span.sp-text {
	color: #565656;
	float: right;
	font-size: 15px;
	margin-right:10px;
	line-height: 18px;
}
.time-remain span.sp-time {
	background: url("../images/gd_36.png") no-repeat scroll left top transparent;
	color: #00918d;
	float: right;
	font-size: 18px;
	height: 23px;
	line-height: 24px;
margin-top: 2px;
padding-left: 30px;}
}