

/*background thanh menu*/
.navbar {
	background:#09F;
	color:#FFF;
	font-size:23px;
    padding:0px;
}


/* chữ cộng đồng it chưa hover*/
.navbar .navbar-brand {
	color: black;
}

/*chữ cộng đồng it*/
.navbar .navbar-brand:hover {
	color:#ffb80  ffb800  ;
	
	
}

/*chữ home active*/
.navbar .navbar-nav> a {
	color:red;
	
}

.navbar .arrow {
	
    font-size:30px;
    line-height:0%;
  bac
} 

/* gạch chân chữ menu li trên thanh menu*/
.navbar li:hover > a, .navbar .current-item > a {
    text-decoration:underline;
    color:red;
    position: relative;
} 


.navbar a {
    transition:all linear 0.15s;
  	color: #F00
    text-decoration:none;
}

.navbar .navbar-nav > li > a:hover {
	color:#FFC;
}



.dropdown-menu > li > a,
.navbar .navbar-nav > li > a:hover,

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus {
	color:black;
	font-size:16px;
}


.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
	color: #red;
	background-color:#C66;
	
}

.navbar > navbar-nav > li > a {
    padding:10px 40px;
    display:inline-block;
    color:white;
}


/*mau vàng*/
.dropdown-menu {
	
		background:#ff9;

	
}

.navbar dropdown:hover .dropdown-menu {
    z-index:1;
    opacity:1;
}


/* background menu con hover */
.dropdown-menu > li > a:hover {
	color: red;
    background: #6cf;
	
}



@media (max-width:768px){
	.navbar	 .navbar-nav .open .dropdown-menu> li > a:hover,
	
    .dropdown-menu > li > a:hover {
    color: black;
    background:#ffc;
    
}

    .dropdown-menu > li > a{
        color:black!important;
        font-size:18px;
    }
    .dropdown-menu > li > a:hover {
		color: red!important;
		font-size:18px;
	}
.navbar {
    background:#09f;
    color:#FFF;
    font-size:23px;
    padding:0px;
}

 


}